<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="author" content="Axel Boulangé" />
    <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('img/compass.png') }}"/>
        <link href="{{ asset('styles/s.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body id="page-top">
<!-- NAVBAR -->
<nav class="navbar">
        <a href="#" class="logo"><img
                    class="img-fluid"
                    src="{{ asset('img/logo.png') }}"
                    alt="Logo Picture"
            /></a>
        <div class="nav-links">
            <ul class="text-normal">
                <li><a href="#"><i class="fa fa-home fa-xl"></i></a></li>
                <li><a href="#"><i class="fa fa-car fa-xl"></i></a></li>
                <li><a href="#"><i class="fa fa-comments-dollar fa-xl"></i></a></li>
                <li><a href="#"><i class="fa fa-paper-plane fa-xl"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-right-from-bracket fa-xl"></i></a></li>
            </ul>
        </div>
        <!-- MENU HAMBURGER -->
        <div class="menu-hamburger">
            <span class="bar-menu"></span>
            <span class="bar-menu"></span>
            <span class="bar-menu"></span>
        </div>
</nav>

{% block body %}{% endblock %}

<!-- Footer-->
<footer style="{% block footerStyles %}{% endblock %}">
    <p class="text-normal">BlaBlaCoin&copy;   2024 - {{ "now"|date("Y") }}</p>
</footer>
<!-- Core theme JS-->
<script src="{{ asset('scripts.js') }}"></script>
</body>
</html>
